<div id="main" class="content scaffold-show">
	<div class="main-menu">
		<div class="portlet">
			<a href="#/regions" class="portlet-arrow">				
				<div class="portlet-title">Régions</div>
				<div class="portlet-content">Gestion des régions viticoles</div>
			</a>	
		</div>
		<div class="portlet">
			<a href="#/bottles">
				<div class="portlet-title">Bouteilles</div>
				<div class="portlet-content">Liste des bouteilles de la cave</div>
			</a>			
		</div>
		<div class="portlet">
			<a href="#/dealers">
				<div class="portlet-title">Domaines</div>
				<div class="portlet-content">Gestion des domaines</div>
			</a>										
		</div>
		<div class="portlet">
			<a href="#/wines">		
				<div class="portlet-title">Appellations</div>
				<div class="portlet-content">Gestion des appellations</div>
			</a>		
		</div>
		<div class="portlet">
			<a href="#/users">		
				<div class="portlet-title">Utilisateurs</div>
				<div class="portlet-content">Gestion des profils utilisateurs</div>
			</a>		
		</div>							
	</div>
</div>
