<div id="main" class="content scaffold-show">
	<div class="login-menu">
		<div class="login-portlet">	
							
			<div class="login-title">Authentification</div>
			<div class="login-content">
				<div class="login-row">
					<div class="login-label">Utilisateur</div>
					<div class="login-input"><input ng-model="username" /></div>				
				</div>
				<div class="login-row">
					<div class="login-label">Mot de passe</div>
					<div class="login-input"><input ng-model="password" /></div>				
				</div>				
				<div class="login-command"><button ng-click="login()"></button></div>
			</div>	
		</div>
</div>
